.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background  :#f8f9fa !important;
  color: #000;
  text-align: right;
  padding: 10px;
  box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
}
